<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.derric.quickbar" android:versionCode="4" android:versionName="Release 1.4">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- Foreground Service permission(API level 28 or higher) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- Start app on boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--
    To get all apps installed in the device..This needs to be removed later due to play store restrictions
   and need to use intent filter to deploy this app in play store
    -->
    <!-- Android 11 and above requires this permission to get all apps -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/quickbar_logo1_rounded"
        android:label="@string/app_name"
        android:roundIcon="@drawable/quickbar_logo1_rounded"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickBar">
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OrderAppsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LayoutTestActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
<!--            />-->
        </activity>
<!--        <activity-->
<!--            android:name=".LoadingActivity"-->
<!--            android:exported="true"-->
<!--            android:screenOrientation="portrait">-->
<!--            &lt;!&ndash;            <intent-filter>&ndash;&gt;-->
<!--            &lt;!&ndash;                <action android:name="android.intent.action.MAIN" />&ndash;&gt;-->

<!--            &lt;!&ndash;                <category android:name="android.intent.category.LAUNCHER" />&ndash;&gt;-->
<!--            &lt;!&ndash;            </intent-filter>&ndash;&gt;-->
<!--        </activity>-->
        <activity
            android:name=".ChooseAppsActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <!-- below intent filter is required to start an activity from PreferenceScreen -->
            <!-- <intent-filter> -->
            <!-- <action android:name="your.action.string" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
        </activity>

        <service
            android:name=".services.QuickBarService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

<!--        <receiver-->
<!--            android:name=".AutoStart"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
    </application>

</manifest>